<div class="users-chat-container">
  <div class="Users-search-container">
    <input type="search" placeholder="Search..." class="Search-input" />
    <button class="Search-btn">Search</button>
  </div>

  <div class="users-list-container">
    @if (!users || users.length === 0) {
      <div class="no-users-message">
        <span>No users found.</span>
      </div>
    }
    @for (user of users; track $index) {
      <div class="user-box" (click)="handleChatUser(user.userId)">
        <div class="avatar-wrapper">
          <img
            [src]="user.userProfile"
            alt="User Avatar"
            class="user-avatar"
          />
          <span class="status-dot" [ngClass]="user.unreadCount > 0 ? 'online' : 'offline'"></span>
        </div>
        <div class="user-info">
          <div class="user-name-time">
            <span class="user-name">{{ user.username }}</span>
            <span class="last-seen">{{ user.lastSeen | date:'short' }}</span>
          </div>
          <div class="last-message">{{ user.lastMessage }}</div>
        </div>
        @if (user.unreadCount > 0) {
          <span class="unread-count">{{ user.unreadCount }}</span>
        }
      </div>
    }
  </div>
</div>
