<div class="users-chat-container">
  <div class="Users-search-container">
    <input type="search" placeholder="Search..." class="Search-input" />
    <button class="Search-btn">Search</button>
  </div>

  <div class="users-list-container">
    @for (user of users; track $index) {
    <div class="user-box" [ngClass]="user.online ? 'online' : 'offline'" (click)="handleChatUser(user.name)">
      <img [src]="user.profilePic" alt="User Avatar" class="user-avatar" />
      <span class="User-active"></span>
      <div class="user-info">
        <div class="user-name-time">
          <span class="user-name">{{ user.name }}</span>
          <span class="last-seen">{{ user.lastSeen }}</span>
        </div>
        <div class="last-message">{{ user.lastMessage }}</div>
      </div>
      @if (user.unreadCount > 0) {
      <span class="unread-count">{{ user.unreadCount }}</span>
      }
    </div>
    }
  </div>
</div>

