.chat-layout {
  display: flex;
  height: 100vh;
}

.users-list {
  width: 330px;       
  min-width: 200px;
  border-right: 1px solid #ccc;
  height: 100vh;        
  box-sizing: border-box;
}

.chat-section {
  flex: 1;
  overflow: auto;
  height: 100vh;        
}