<div class="sidebar-container">
  <div class="sidebar-button" title="Home" routerLink="/dashboard/home">
    <button class="side-button home-icon"></button>
    <span class="name-button">Home</span>
  </div>
  <div class="sidebar-button" title="Search" routerLink="/dashboard/search">
    <button class="side-button search-icon"></button>
    <span class="name-button">Search</span>
  </div>
  <div class="sidebar-button" title="About">
    <button class="side-button about-icon"></button>
    <span class="name-button">About</span>
  </div>
  <div class="sidebar-button" title="Help">
    <button class="side-button help-icon"></button>
    <span class="name-button">Help</span>
  </div>
  <div class="sidebar-button" title="Account">
    <button class="side-button account-icon"></button>
    <span class="name-button">Account</span>
  </div>
  <div class="sidebar-button" title="settings">
    <button class="side-button settings-icon"></button>
    <span class="name-button">settings</span>
  </div>
  <div class="sidebar-button" title="Devlopers">
    <button class="side-button developer"></button>
    <span class="name-button">Devlopers</span>
  </div>
</div>
